/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background: #daf4fb;

.flex-container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
    grid-template-columns: 200px 1fr 200px; 
    grid-template-rows: auto 1fr auto;
    height: 100vh; 
}

/* Header */
.flex-container header {
    grid-area: header;
    background: linear-gradient(145deg, #22a6e4, #a3e2fd);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: #47daff;
    box-shadow:  20px 20px 60px #3cb9d9,
    
}

/* Navigation */
.flex-container nav {
    grid-area: nav;
    background: #22a6e4;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    background: #47daff;
    box-shadow:  20px 20px 60px #3cb9d9,
}

.flex-container nav ul {
    list-style: none;
    padding: 0px;
    margin: 20px;
}

.flex-container nav ul li a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: white;
    padding: 0px;
    border-radius: 5px;

}

.flex-container nav ul li a:hover {
    background-color: #00b1fd;
}

/* Main Content */
.flex-container main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.flex-container section, article {
    width: 100%;
    max-width: 700px;
    margin: 10px 0;
    padding: 20px;
    background: linear-gradient(145deg, #cdd9de, #f4ffff);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
   
    text-align: center;
    border-radius: 25px;
background: #daf4fb;
box-shadow:  27px 27px 55px #aabec4,
             -27px -27px 55px #ffffff;
    
}

/* Aside */
.flex-container aside {
    grid-area: aside;
    background: #22a6e4;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    background: #47daff;
    box-shadow:  20px 20px 60px #3cb9d9,
                 
    
}

.flex-container aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex-container aside ul li {
    margin: 10px 0;
}

/* Footer */
.flex-container footer {
    grid-area: footer;
    background: #22a6e4;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    background: #47daff;
    box-shadow:  20px 20px 60px #3cb9d9,
}

